.Homebar{
    color:white;
    position: absolute;
    top:8rem;
    left:10rem;
}
.Homebar h1{
    width:30vw;
    font-size: 3rem;
}
.Homebar p{
    font-size: 1.5rem;
}
.videos{
    position: absolute;
    top:25rem;
    left:4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.videos h3{
    color:white
}
.home{
    position: absolute;
    right:6rem;
    height:20rem;
    width:20rem;
}
@media(max-width:700px)
{.home{
    display:none;
}
    .Homebar{
        color:white;
        position: absolute;
        top:8rem;
        left:2rem;
    }
    .Homebar h1{
        width:90vw;
        font-size: 2rem;
    }
    .Homebar p{
        font-size: 1.5rem;
    }
    .videos{
        position: absolute;
        top:20rem;
        left:0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    } 
}